<log4net>
    <root>
      <level value="ALL" />
      <appender-ref ref="MainAppender" />
    </root>

    <appender name="MainAppender" type="log4net.Appender.RollingFileAppender">
      <encoding value="utf-8" />
      <file value="PaycorTest.log" />
      <appendToFile value="true" />
      <rollingStyle value="Size" />
      <maxSizeRollBackups value="5" />
      <maximumFileSize value="10MB" />
      <staticLogFileName value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date{dd-MM-yy HH:mm:ss,fff} [%thread] %level %logger - %message%newline" />
      </layout>
  </appender>
</log4net>